@model IEnumerable<IndianInvestor.Models.AdminMV>

@{
    ViewData["Title"] = "Index";
}

<h1>Stock</h1>

<p>
    <a asp-action="Create">Update Data</a>
</p>
    <table  id="tbldata"class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SecurityCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CompanyName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MarketCap)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SecurityCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CompanyName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MarketCap)
                    </td>

                </tr>
            }
        </tbody>
    </table>

@section Scripts{ 
<script>
    $(document).ready(function (){
    $('#tbldata').DataTable();
    });
</script>
 }
